aside.col-lg-3.sidebar
    .widget.mb20
        h4.title 阅读排行榜
        |
        .content
            ul
                li
                    a(href="#") 标题标题标题标题标题标题标题标题标题标题
                |
                li
                    a(href="#") 标题标题标题标题标题标题标题标题标题标题
                |
                li
                    a(href="#") 标题标题标题标题标题标题标题标题标题标题
                |
                li
                    a(href="#") 标题标题标题标题标题标题标题标题标题标题
                |
                li
                    a(href="#") 标题标题标题标题标题标题标题标题标题标题
        |
        p.upDown.text-center
            i.fa.fa-angle-double-down.fa-4x
    |
    .widget.mb20
        h4.title 分类
        |
        .content
            ul
                li
                    a(href="#") Vue
                |
                li
                    a(href="#") Node.js
                |
                li
                    a(href="#") javascript
        |
        p.upDown.text-center
            i.fa.fa-angle-double-down.fa-4x
