aside.col-lg-3.sidebar
    .widget.mb20
        h4.title 热门文章
        |
        .content
            ul
                each item in readList
                    li
                        a(href=`/article/${item._id}`)= item.title
        |
        p.upDown.text-center
            i.fa.fa-angle-double-down.fa-4x
    |
    .widget.mb20
        h4.title 最多评论
        |
        .content
            ul
                each item in commentList
                    li
                        a(href=`/article/${item._id}`)= item.title
        |
        p.upDown.text-center
            i.fa.fa-angle-double-down.fa-4x
