footer.main-footer
    .container
        .row
            .col-sm-12
                span Copyright ©
                a(href="#") 主页
                span
                    a(href="http://www.nirongxu.com", target="_blank") 京ICP备xxxxxx号
