doctype html
html(lang="zh-Hans")
    head
        meta(charset="UTF-8")
        meta(name="author", content="NiRongxu")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet", href="../bootstarp/css/bootstrap.min.css")
        link(rel="stylesheet", href="../fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="../css/common.css")
        block css

        //if lt IE 9
          script(src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js")
          script(src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
        title = title
    body
        //- nav
        include ./header

        //- content
        section.content-wrap.mb50
            .container
                .row
                    //- main
                    block main
                    //- aside
                    include ./aside

        //- footer
        include ./footer

        //- script
        script(src="../js/jquery-2.2.0.min.js")
        script(src="../bootstarp/js/bootstrap.min.js")
        script(src="../js/common.js")
        block script
